@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,100,300,400italic,700,700italic,900);

.company-name + a[target=_top] {
  display: none;
}

#app_body {
    max-width: 710px!important;
    position: relative;
    padding-left: 0px!important;
    margin: 0 auto!important;
}
#application {
    padding: 25px 30px 30px 30px;
    background-color: #fcfcfc!important;
    max-width: 670px!important;
}

#application .heading {
    float: none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    font-size: 36px;
    color: #696969;
    font-weight: 300;
    font-family: Lato;
}

#application .heading:after {
    display: block;
    background: #C4C4C4;
    width: 100%;
    max-width: 90px;
    height: 1px;
    margin: 27px auto;
    content: "";
}

#main_fields div.field label, #eeoc_fields div.field label {
    float: left;
    width: 105px;
    text-align: right;
    margin-right: 10px;
    color: #696969;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-family: Lato;
}

#main_fields .asterisk, #custom_fields .asterisk, #eeoc_fields .asterisk {
    color: #008e94;
}

#main_fields div.field, #custom_fields div.field, #eeoc_fields div.field {
    clear: both;
    overflow: hidden;
}

#main_fields div.field input[type=text], #main_fields div.field textarea, #eeoc_fields div.field input[type=text], #eeoc_fields div.field textarea {
    max-width: 519px;
    width: 100%;
}

#application div.required-fields {
    float: none;
    font-size: 16px;
    line-height: 18px;
    color: #696969;
    font-weight: 700;
    text-align: center;
    font-family: Lato;
    margin-bottom: 42px;
}

#main_fields div.field label, #eeoc_fields div.field label {
    float: left;
    width: 105px;
    text-align: right;
    margin-right: 10px;
    color: #696969;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-family: Lato;
    vertical-align: middle;
    padding-top: 14px;
}

#main_fields div.field input[type=text], #main_fields div.field textarea, #eeoc_fields div.field input[type=text], #eeoc_fields div.field textarea {
    max-width: 519px;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 35px;
    padding-left: 15px;
    font-size: 16px;
    color: #696969;
    font-weight: 400;
    font-family: Lato;
	background: #fff;
}





