@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,100,300,400italic,700,700italic,900);

.company-name + a[target=_top] {
  display: none;
}

#app_body {
    max-width: 730px!important;
    position: relative;
    padding-left: 0px!important;
    margin: 0 auto!important;
}
#application {
    padding: 5px 30px 30px 30px;
    background-color: #fcfcfc!important;
    max-width: 670px!important;
}

#application .heading {
    float: none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    font-size: 36px;
    color: #696969;
    font-weight: 300;
    font-family: Lato;
}

#application .heading:after {
    display: block;
    background: #C4C4C4;
    width: 100%;
    max-width: 90px;
    height: 1px;
    margin: 27px auto;
    content: "";
}

#main {
    padding-top: 0px;
}

#main_fields div.field label, #eeoc_fields div.field label {
    float: left;
    width: 115px;
    text-align: right;
    margin-right: 10px;
    color: #696969;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-family: Lato;
    vertical-align: middle;
    padding-top: 14px;
}

#main_fields .asterisk, #custom_fields .asterisk, #eeoc_fields .asterisk {
    color: #008e94;
}

#main_fields div.field, #custom_fields div.field, #eeoc_fields div.field {
    clear: both;
    overflow: hidden;
}

#main_fields div.field input[type=text], #main_fields div.field textarea, #eeoc_fields div.field input[type=text], #eeoc_fields div.field textarea {
    max-width: 519px;
    width: 100%;
}

#application div.required-fields {
    float: none;
    font-size: 16px;
    line-height: 18px;
    color: #696969;
    font-weight: 700;
    text-align: center;
    font-family: Lato;
    margin-bottom: 42px;
}

#main_fields div.field input[type=text], #main_fields div.field textarea, #eeoc_fields div.field input[type=text], #eeoc_fields div.field textarea {
    max-width: 497px;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 35px;
    padding-left: 15px;
    font-size: 16px;
    color: #696969;
    font-weight: 400;
    font-family: Lato;
    background: #fff;
}

#main_fields div.field input[type=text]:focus, #main_fields div.field textarea:focus, #custom_fields div.field input[type=text]:focus, #custom_fields div.field textarea:focus, #eeoc_fields div.field input[type=text]:focus, #eeoc_fields div.field textarea:focus {
    border-color: #008e94;
    outline: none;
}

#main_fields input:focus{
    border: 1px solid #008e94; 
}

.link-container a{
  color: #696969;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-family: Lato;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 15px 56px 15px 57px;
    text-decoration: none;
    margin-right: 10px;
    background: #ffffff;
    background-image: none!important;
}
.link-container a:hover{
  background: #f4f4f4;
}

.attach-or-paste {
  padding-top: 13px;
  padding-bottom: 10px;
}
#main_fields div.field textarea {
    height: 154px;
    position: relative;
    top: 21px;
    left: 125px;
    margin-bottom: 7px;
    margin-top: 6px;
}

#custom_fields div.field input[type=text], #custom_fields div.field textarea {
    margin-top: 6px;
    max-width: 622px !important;
    width: 100%!important;
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 35px;
    padding-left: 15px;
    font-size: 16px;
    color: #696969;
    font-weight: 400;
    font-family: Lato;
    background: #fff;
}

#custom_fields div.field label{
    text-align: right;
    margin-right: 10px;
    color: #696969;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-family: Lato;
    vertical-align: middle;
    padding-top: 14px;
}



#application hr {
    margin: 0;
    padding: 0;
    border: none;
    height: 1px;
    background-color: #c4c4c4;
    margin: 43px 0 25px;
    max-width: 643px;
}

.attach-or-paste {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #696969;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    font-family: Lato;
}

.attach-or-paste .link-container a:not(:last-child)::after {
    content: ",";
    display: none;
}

#application p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #696969;
}

#application label strong {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #696969;
}

#application input[type='checkbox'] {
    width: 16px;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

#submit_app {
    color: #fff;
    text-shadow: none;
    cursor: pointer;
    border: none;
    padding: 7px 15px;
    font-size: 14px;
    background: #ff6a00;
    font-family: Lato;
    font-weight: 400;
    border-radius: 5px;
    text-align: center;
    max-width: 146px;
    height: 32px;
    line-height: 10px;
    float: left;
    margin-top: 4px;
}

@media(max-width: 767px){
  #main_fields div.field textarea {
    position: relative;
    left: 0;
  }
  body .link-container a{
    color: #696969;
    font-size: 16px!important;
    line-height: 18px!important;
    font-weight: 400!important;
    font-family: Lato!important;
    text-align: center!important;
    border: 1px solid #cccccc!important;
    border-radius: 3px!important;
    padding: 15px 56px 15px 57px!important;
    text-decoration: none!important;
    margin-right: 10px!important;
    background: #ffffff!important;
    background-image: none!important;
}
  
}

@media (max-width: 500px){
iframe {
    max-width: 100%;
    min-height: 3085px;
}
}

@media (max-width: 330px){
iframe {
    max-width: 100%;
    min-height: 3085px;
}
}


