h2 {
    text-align: center;
    letter-spacing: .2px;
    font-family: Forza,Lato;
    font-weight: 700;
    font-size: 22px;
    color: #333;
}

h3 {
    font-family: Lato;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.8;
    color: #434242;
    margin-bottom: 89px;
}
#appb17-formhost .hs_verticals li {
    width: 33%;
    float: left;
}
@media (max-width: 480px) {
    .hs_verticals li {
            width: 50%;
    }

}
@media (max-width: 240px) {
    .hs_verticals li {
            width: 100%;
        }

}

.submitted-message {
    display: none;
}
.show-submitted-message .submitted-message {
    display: block;
}

#appb17-formhost .hs_product_launched .input .req-label,#appb17-formhost .required-field .hs-form-required {
    display: none;
}

#appb17-formhost [type=text],#appb17-formhost [type=email],#appb17-formhost [type=password],#appb17-formhost [type=number],#appb17-formhost textarea {
    width: 100%;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    border-radius: 0;
    padding: 14px 75px 14px 14px;
    font-size: 14px;
    height: auto;
    box-shadow: none;
    margin: 0;
}

#appb17-formhost .input {
    padding-bottom: 31px;
    max-width: none;
}

#appb17-formhost input {
    max-width: none;
    box-sizing: border-box;
}

#appb17-formhost form>div:first-child .input {
    padding-bottom: 35px;
}

#appb17-formhost form>div:last-child .input {
    padding-bottom: 29px;
}

#appb17-formhost textarea {
    max-width: none;
    min-height: 118px;
}

#appb17-formhost [type=text]:focus,#appb17-formhost [type=email]:focus,#appb17-formhost [type=password]:focus,#appb17-formhost [type=number]:focus,#appb17-formhost textarea:focus {
    border: 1px solid #333;
}

#appb17-formhost select {
    width: 100%;
    padding: 14px 75px 14px 14px;
    height: auto;
}

#appb17-formhost .multi-container {
    overflow: hidden;
    margin: 0;
}

#appb17-formhost .multi-container .hs-form-radio {
    float: left;
    list-style: none;
}

#appb17-formhost .hs-form-field>[for] {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .5px;
    margin-bottom: 15px;
}

#appb17-formhost .required-field .input {
    position: relative;
}

#appb17-formhost .required-field:not(.hs_product_launched) .input .req-label {
    position: absolute;
    top: 15px;
    right: 15px;
    content: 'required';
    text-transform: uppercase;
    font-family: Lato;
    font-size: 10px;
    line-height: 1.6;
    letter-spacing: .4px;
    color: #aeaeae;
    pointer-events: none;
}

#appb17-formhost .hs_submit {
    text-align: right;
}

#appb17-formhost .hs_submit [type=submit] {
    width: 159px;
    height: 50px;
    background-color: #97bd31;
    border: none;
    font-size: 16px;
    letter-spacing: .5px;
    color: #fffdff;
    font-family: Lato;
    font-weight: 700;
    text-transform: uppercase;
}

#appb17-formhost .hs-error-msgs {
    display: none !important;
}

#appb17-formhost .error {
    border-color: #b6321a;
}

#appb17-formhost .req-label {
    display: none;
}
#appb17-formhost .required-field .req-label {
    display: block;
}
#appb17-formhost .required-field .input .error+.req-label {
    color: #b6321a;
}

#appb17-formhost .hs-form-radio-display {
    overflow: hidden;
    display: inline-block;
}

#appb17-formhost .hs-form-radio-display [type=radio] {
    float: left;
    margin-left: -9999px;
}

#appb17-formhost .hs-form-radio span {
    float: right;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    color: #4a4a4a;
    margin-right: 45px;
    position: relative;
    padding-left: 24px;
    line-height: 1.3;
}

#appb17-formhost .hs-form-radio span:after,#appb17-formhost .hs-form-radio span:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    border-radius: 50%;
}

#appb17-formhost .hs-form-radio span:after {
    width: 16px;
    height: 16px;
    border: 1px solid #979797;
}

#appb17-formhost .hs-form-radio [type=radio]:checked+span:before {
    width: 8px;
    height: 8px;
    left: 5px;
    top: 5px;
    background: #b6321a;
}

#appb17-formhost ul.inputs-list,
#appb17-formhost ul.inputs-list li {
    margin: 0;
    list-style: none;
}
#appb17-formhost ul.inputs-list li input[type=checkbox] {
    margin-right: 0.5em;
}


/* Container used for styling the custom select, the buttom class below adds the
 * bg gradient, corners, etc. */
#appb17-formhost .custom-select.custom-select.custom-select.custom-select.custom-select {
	position: relative;
	display: block;
    border: 1px solid #d2d2d2;
    display: block;
    padding-bottom: 0;
    margin-bottom: 31px;
}

/* This is the native select, we're making everything but the text invisible so
 * we can see the button styles in the wrapper */
.custom-select select {
    width: 100%;
    margin: 0;
    outline: none;
    padding: .6em .8em .5em .8em;

    /* Prefixed box-sizing rules necessary for older browsers */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Font size must be 16px to prevent iOS page zoom on focus */
    font-size: 16px;
}


/* Custom arrow sits on top of the select - could be an image, SVG, icon font,
 * etc. or the arrow could just baked into the bg image on the select. */
.custom-select::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 0.4em;
    z-index: 2;
    pointer-events: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxMi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDUxNDQ4KSAgLS0+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiIFsNCgk8IUVOVElUWSBuc19zdmcgImh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCgk8IUVOVElUWSBuc194bGluayAiaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+DQpdPg0KPHN2ZyAgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9IiZuc19zdmc7IiB4bWxuczp4bGluaz0iJm5zX3hsaW5rOyIgd2lkdGg9IjUzMS43NCIgaGVpZ2h0PSI0NjAuNSINCgkgdmlld0JveD0iMCAwIDUzMS43NCA0NjAuNSIgb3ZlcmZsb3c9InZpc2libGUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUzMS43NCA0NjAuNSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWdvbiBzdHJva2U9IiMwMDAwMDAiIHBvaW50cz0iNTMwLjg3NCwwLjUgMjY1Ljg3LDQ1OS41IDAuODY2LDAuNSAiLz4NCjwvc3ZnPg0K);
    display: none;
    width: 8px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
}

@supports ( -webkit-appearance: none ) or ( appearance: none )
	/* Firefox <= 34 has a false positive on @supports( -moz-appearance: none )
	 * @supports ( mask-type: alpha ) is Firefox 35+
	 */
	or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {
	
	/* Show custom arrow */
	.custom-select::after {
		display: block;
	}

	/* Remove select styling */
	.custom-select select {
		padding-right: 2em; /* Match-01 */
		/* inside @supports so that iOS <= 8 display the native arrow */
		background: none; /* Match-04 */
		/* inside @supports so that Android <= 4.3 display the native arrow */
		border: 1px solid transparent; /* Match-05 */

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.custom-select select:focus {
		border-color: #aaa; /* Match-03 */
	}
}

